
/* HTML TAG CSS */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  display:block;
  color: white;
  margin: 0;
  padding: 0;
  position: relative;
}

li {
  float: left;
  margin-top: 30px;
  margin-left: 10px;
}

a li {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 0px;
  text-shadow: 2px 1px rgb(0, 0, 0);
  border-radius: 5px;
  height: 40px;
  transition: all 0.2s ease-in-out;
}

a li:hover {
  background-color: #4d3939;
  transition: background-color 0.3s ease-in-out;
}



label:hover {

}

div > img {
  transform: scale(1.3);
  height: 200px;
  border: 2px solid;
  display: flex;
}

/* ClassName CSS */
.App {
  text-align: center;
  background-color: rgb(133, 125, 125);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #b31b1b;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  padding-left: 0px;
  box-shadow: 0 4px rgb(89, 89, 89);
  flex-wrap: wrap;
  top: 0;
  position: sticky;
  z-index: 1;
}

.App-header > input {
  display: inline-block;
  align-items: right;
  margin: 30px;
}

.App-title {
  display: flex;
  flex-direction: row;
  font-style: italic;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 2px 1px rgb(0, 0, 0);
}

.App-title-items {
  margin-left: 50px;
  padding: 10px;
  text-shadow: 2px 1px rgb(0, 0, 0);
}

.App-title-items:hover {
  color: rgb(243, 79, 79);
  text-shadow: 2px 1px rgb(255, 255, 255);
  cursor: pointer;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.Intro {

}

.title {
  color:rgb(255, 255, 255);
  text-shadow: 2px 1px rgb(0, 0, 0);
  font-size: 70px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.body {
  background-color: #cdcdcd;
  border-radius: 5px;
  margin: 110px;
  padding: 60px;
  opacity: 1;
  font-size: 30px;
}

.Bottom {
  background-color: #8a0808;
  margin-top: 20px;
  width: 100vw;
  height: 100px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  border: 1px solid;
  box-shadow: 0px -2px 5px rgb(0, 0, 0);
}

.NavBar-input {
  border-radius: 10px;
  width: 200px;
  height: 25px;
  font-size: 15px;
  padding: 5px;
}

.button {
  background-color: rgb(185, 136, 136);
  border: 1px solid rgb(185, 136, 136);
  border-radius: 5px;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
  margin-top: 35px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button:hover {
  background-color: rgb(255, 212, 212);
  border: 1px solid black;
  cursor: pointer;
  color:rgb(0, 0, 0);
  transition: all 0.3s ease-in-out;
}

.button:disabled {
  background-color: rgb(238, 238, 238);
  border: 1px solid black;
  color: black;
  cursor: default;
}

.button-circle {
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
  width: 50px;
  height: 50px;
  color: rgb(0, 0, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.member-imgs {
  padding-top: 30px;
  margin: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.member-img {
  margin: 50px;
}

.member {
  background-color: rgb(210, 210, 210);
  border-radius: 5px;
}

.member:hover {
  background-color: #8a0808;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.member-name {
  color: white;
  text-shadow: 2px 0 rgb(0, 0, 0);
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button-circle:hover {
  background-color: rgb(224, 224, 224);
  cursor: pointer;
}

/* MODAL CSS */

.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  display: flex;
}

.modal {
  width: 900px;
  height: 700px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  align-self: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}