/* SCROLL BAR */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #b4b4b4;
  border: 0px none #ffffff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #686767;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 0px;
}

/* HTML TAG CSS */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  display:block;
  color: white;
  margin: 0;
  padding: 0;
  position: relative;
}

li {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

a li {
  display: block;
  color: white;
  text-align: center;
  text-shadow: 2px 1px rgb(0, 0, 0);
  border-radius: 5px;
  padding: 10px;
  font-family: DejaVu Sans Mono, monospace;
}

a li:hover {
  background-color: rgb(197, 49, 49);
}

div > img {
  transform: scale(1.3);
  height: 200px;
  border: 2px solid;
  display: flex;
}

p > ul {
  color: black;
  display: flex;
  flex-direction: column;
}

a > img {
  display: block;
  margin: auto;
}

a {
  text-decoration: none;
}

/* ClassName CSS */

.App {
  text-align: center;
  background-color: hsl(0, 1%, 28%);
  margin: auto;
  overflow-x: hidden;
}

.App-logo {
  height: 10vmin;
  object-fit: contain;
  float: left;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header { 
  color: rgb(169, 26, 26);
  background-color: #b31b1b;
  min-height: 10vh;
  font-size: calc(5px + 2vmin);
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 7px rgb(0, 0, 0);
  transition: 0.5s ease;
}

.header-items {
  display: flex;
  float: right;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1vw;
}

.App-title {
  margin: inherit;
  display: flex;
  flex-direction: row;
  font-style: italic;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 2px 1px rgb(0, 0, 0);
}

.App-title-items {
  margin: inherit;
  /* margin-left: 50px; */
  padding: 10px;
  text-shadow: 2px 1px rgb(0, 0, 0);
}

.App-title-items:hover {
  color: rgb(243, 79, 79);
  text-shadow: 2px 1px rgb(255, 255, 255);
  cursor: pointer;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.intro-subtitle {
  margin: inherit;
  z-index: 1;
  display: block;
}

.intro-subtitle a > button {
  margin: auto 20px;
  padding: 10px;
  transition: all 0.6s ease-in;
}

.intro-subtitle a > button:hover {
  background-color: rgb(255, 255, 255);
  transition: all 0.6s ease-in;
}

.intro {
  width: 100vw;
  height: 100vh;
  /* background-image: url("../src/assets/images/ethan.JPG"); */

  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s; */
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  z-index: 0;
  /* animation-name: changeImage;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
  animation-duration: 15s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite; */
}

.slideShow {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slider {
  white-space: nowrap;
  transition: ease 1000ms;
  height: 100%;
  width: 100%;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.dots {
  text-align: center;
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.dot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  border: 1px solid black;
  background-color: #c4c4c4;
}

.dot.active {
  background-color: #8a0808;
}

.dot:hover {
  background-color: rgba(176, 176, 176, 0.4);
}

@keyframes changeImage {
  0% {
    background-image: url("../src/assets/images/ethan.JPG");
  }

  25% {
    background-image: url("../src/assets/images/wideshot-of-crew.JPG");
  }

  50% {
    background-image: url("../src/assets/images/studio.JPG");
  }

  75% {
    background-image: url("../src/assets/images/camera.JPG");
  }
}

.intro-title {
  color: white;
  font-size: 90px;
  text-shadow: 3px 1px 3px black;
  position: relative;
  padding: 10px;
  margin: auto;
}

.intro-body {
  color: white;
  text-shadow: 3px 1px 3px black;
  font-size: 30px;
  position: relative;
  padding: 10px;
  margin: auto;
}

.title {
  color:rgb(255, 255, 255);
  background-color: rgb(197, 49, 49);
  text-shadow: 2px 1px rgb(0, 0, 0);
  font-size: 70px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}

.body div > .title {
  background-color: rgb(221, 221, 221);;
}

.title.stories {
  color: #00ff0d;
}

.title.retro-review {
  color: #f09e4d;
}

.title.cyber-news {
  color: #4ff0ff;
}

.title.announcements {
  color: #ffffff;
}

.subtitle {
  color: rgb(255, 255, 255);
  text-shadow: 2px 1px rgb(0, 0, 0);
  font-size: 30px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 30px;
  margin: auto;
}

.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #cdcdcd;
  border-radius: 5px;
  margin: auto 5vw;
  padding: 5rem;
  font-size: 30px;
  font-family: Georgia, serif;
  box-shadow: 0 0 50px red;
  /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  /* font-family: avenir-lt-w01_35-light1475496,sans-serif; */
  max-width: 100%;
}



.video-bg {
  background-color: black;
  width: 100%;
  height: 50vh;
}

.video-bg > iframe {
  max-width: 100%;
  max-height: 100%;
}

.Bottom {
  background-color: #8a0808;
  margin: auto;
  width: 100%;
  height: 100%;
  font-size: 15px;
  display: flex;
  justify-content: center;
  border: 1px solid;
  bottom: 0;
  box-shadow: 0px -2px 5px rgb(0, 0, 0);
  z-index: 100;
}

.icon {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  transform: scale(2);
  max-width: "100%"; 
  max-height: "100%";
  transition: all 0.3s ease-in-out;
  margin: 15px;
}

.icon:hover {
  color: white;
  cursor: pointer;
  transform: scale(2.5);
  transition: all 0.3s ease-in-out;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(185, 136, 136);
  border: 1px solid rgb(185, 136, 136);
  border-radius: 5px;
  border-color: #8a0808;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
  padding-left: 30px;
  padding-right: 30px;
  margin: 20px auto;
  color: white;
  font-family: DejaVu Sans Mono, monospace;
}

.button:hover {
  background-color: rgb(255, 212, 212);
  border: 1px solid black;
  cursor: pointer;
  color:rgb(0, 0, 0);
  box-shadow: 0px 0px 40px rgba(253, 183, 183, 0.8);
  transition: all 0.3s ease-in-out;
}

.button:disabled {
  background-color: rgb(238, 238, 238);
  border: 1px solid black;
  color: black;
  cursor: default;
}

.button-icon {
}

.button-circle {
  background-color: rgb(255, 255, 255);
  position: relative;
  z-index: 0;
  border-radius: 50px;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
  width: 50px;
  height: 50px;
  color: rgb(0, 0, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.arrow-down {
  position: relative;
  transition: all 0.2s ease-in-out;
}

.button-circle:hover .arrow-down {
  transform: translateY(5px);
}

.member-imgs {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}


.member-img {
  object-fit: cover;
  max-width: 100%;
  border-radius: 5px;
  border-color: black;
  transform: scale(0.8);
}

.member {
  background-color: rgb(210, 210, 210);
  border-radius: 5px;
  padding: 5px;
  margin: 50px;
  transition: all 200ms ease-in-out;
}

.member:hover {
  background-color: #8a0808;
  cursor: pointer;
}

.member-name {
  color: white;
  text-shadow: 2px 0 rgb(0, 0, 0);
  font-size: 30px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.wolftv-segments {
  background-color: white;
  display: flex;
  max-width: 100%;
  height: 100%;
  margin: auto;
  justify-content: space-around;
  border-radius: 5px;
  font-size: 25px;
  border: 1px solid black;
}

.wolftv-segments > a {
  bottom: 0;
}

.segment {
  max-width: 100%;
  height: 100%;
  font-size: 30px;
}

.segment-container {
  margin-top: 15vh;
}

.segment-desc {
  margin: 40px;
  font-size: 30px;
}

.end {
  margin: 10vmax;
  border-radius: 5px;
}

.end button {
  background-color: transparent;
  border: 5px solid #8a0808;
  border-radius: 5px;
  font-size: 30px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  color: white;
  transition: all 0.2s ease-in-out;
}

.end button:hover {
  background-color: #ffffff;
  border: 5px solid #8a0808;
  color: black;
  cursor: pointer;
}

.button-circle:hover {
  background-color: rgb(0, 0, 0);
  border-color: white;
  color: rgb(255, 255, 255);
  cursor: pointer;
}


.scroll-to-top-btn {
  display: none;
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 98; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  background-color: #b31b1b; /* Set a background color */
  color: rgb(214, 205, 205); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  font-size: 20px; /* Increase font size */
  box-shadow: 0 1px 2px black;
}

.link {
  color: lightblue;
}

.link:hover {
  color: white;
}

/* MODAL CSS */

.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  overflow-y: hidden;
}

.modal {
  width: 50vw;
  height: 80vh;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 2px 5px 7px #8a0808;
  align-self: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  justify-items: center;
  animation-name: modalAnim;
  animation-duration: 0.5s;
}

.modal > .button {
  font-size: 20px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  position: absolute;
  right: 2.5%;
  top: 95%;
  box-shadow: 2px 3px 2px black;
  transition: all 0.2s ease-in-out;
}

.modal > .button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
  /* box-shadow: 0 0 0; */
  transition: all 0.2s ease-in-out;
}

@keyframes modalBtnAnim {
  from {
    padding-left: 50px;
    padding-right: 50px;
  }
  to {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.modal-header {
  height: 85px;
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  justify-content: center;
}

.heading {
  text-align: center;
  font-size: 45px;
  margin: 0;
  padding: 10px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: 2px 1px 1px #8a0808;
}

.modal-img {
  display: flex;
  justify-content: center;
  margin: 95px;
  transform: scale(1);
}

.modal-content {
  display: block;
  background-color: #c1c1c1;
  border-radius: 5px;
  text-align: center;
  height: 35%;
  position: absolute;
  bottom: 0;
}

.modal-role {
  color: white;
  text-shadow: 2px 0 2px black;
  font-size: 25px;
  position: relative;
  top: -20px;
}

.modal-description {
  flex-wrap: wrap;
  font-size: 20px;
  height: 100%;
  position: relative;
  top: -20px;
  overflow-y: scroll;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.x-btn {
  background-color: white;
  border-radius: 50px;
  padding-bottom: 10px;
  font-size: 25px;
  position: absolute;
  display: flex;
  align-self: flex-start;
  margin-left: -10px;
  margin-top: -10px;
  left: 0px;
  top: 0px;
  box-shadow: 4px 4px 3px black;
  transition: all 0.2s;
}

.x-btn:hover {
  cursor: pointer;
  background-color: #8a0808;
  color: white;
  border-radius: 5px;
  opacity: 1;
  transition: all 0.2s;
  box-shadow: 0px 0px 20px rgba(180, 28, 28, 0.8);
  transform: translate(5px, 5px);
  
}

.msgModal {
  width: 500px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 2px 5px 7px #8a0808;
  align-self: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  justify-items: center;
  animation-name: msgModalAnim;
  animation-duration: 0.3s;
}

.msgModal > button {
  float: right;
}

.msgDescription {
  position: relative;
  text-align: center;
  overflow: hidden;
  white-space: normal;
  flex-wrap: wrap;
  margin: 30px;
}

@keyframes msgModalAnim {
  0% { opacity: 0%; transition: ease-in; }
  100% { opacity: 100%; transition: ease-out; }
}

@keyframes modalAnim {
  0% { 
    top: 1300px;
    opacity: 0%; 
    transition: ease-in;
  }
  100% { 
    bottom: 0px;
    opacity: 100%; 
    transition: ease-out;
  }
  /* 0% { opacity: 0%; }
  100% { opacity: 100%; } */
}

/* Disable scroll when modal is open */
.modal-open {
  overflow: hidden;

}

.infobox-x-btn {
  border: none;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.2s ease-in-out;
}

.infobox-x-btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  background-color: white;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

/* DROP DOWN CSS */
.hamburger {
  display: block;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 15px;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
  color: white;
}

.hamburger:hover {
  cursor: pointer;
  border-radius: 25px;
  background-color: rgb(224, 224, 224);
  color: black;
}

.hamburger.is-active {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(0, 0, 0);
  transition: all 0.2s ease-in-out;
}

.dropdown {
  overflow: hidden;
  margin: 0 auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #b31b1b;
  box-shadow: 0px 8px 16px 11px rgba(0,0,0,0.2);
  border: 2px solid black;
  z-index: 1;
  min-height: 100%;
  margin: 0 auto;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dropdown-content > a {
  float: none;
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px 0px black;
  padding: 20px 30px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content > a:hover {
  background-color: #981212a4;
  color: white;
  transition: background-color 0.2s, color 0.2s;
  transition-timing-function: ease-in-out;
}


.dropdown:hover .dropdown-content {
  display: block;
  border-color: black;
}

.dropdown-btn {
  border-radius: 25px;
  background-color: #d33333;
  height: 50px;
  width: 50px;
  transition: all 0.2s;
}

.dropdown-btn:hover {
  background-color: #b11818;
  transition: all 0.2s;
}

@keyframes dropdownAnim {
  from { top: -200px; }
  to { top: 80px; }
}

.sort-box {
  font-size: 20px;
  border-radius: 5px;
  max-width: fit-content;
  margin: 10px;
}

/* RESIZING BASED ON SCREEN SIZE */
@media screen and (max-width: 700px) {
  /* Center logo */
  .App-logo {
    height: 10vmax;
    float: none;
  }

  .body {
    font-size: 20px;
    margin: auto 10vw;
    padding: 2rem;
  }

  .subtitle {
    font-size: 20px;
  }

  .segment-desc {
    font-size: 15px;
  }

  .segment {
    font-size: 15px;
  }

  .title {
    font-size: 30px;
  }

  .modal {
    width: 90vw;
    height: 60vh;
  }

  .heading {
    font-size: 35px;
  }

  .modal-img {
    transform: scale(0.5);
    margin: auto;
  }
  
  .modal-description {
    font-size: 15px;
  }

  .modal-role {
    font-size: 15px;
  }

  .modal > .button {
    align-self: center;
    font-size: 15px;
    float: auto;
    margin: auto;
  }

  .modal-content {
    max-height: 100%;
  }

  .intro-subtitle a > li {
    font-size: 15px;
    margin: 30px auto;
    display: block;
  }

  .App-header a > li{
    display: none;
  }

  .msgModal {
    width: 400px;
    height: 200px;
  }

  .sort-box {
    font-size: inherit;
  }

  .dropdown:hover {
    display: none;
    cursor: default;
  }

 
}

@media screen and (max-width: 1200px) {
  .wolftv-segments {
    display: block;
  }
}