@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&family=Merriweather+Sans:ital,wght@1,800&family=Nunito:wght@300&display=swap');

* {
  box-sizing: border-box;
}

/* ROOT */
:root {
  --navBar-color: #b31b1b;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #b4b4b4;
  border: 0 none #ffffff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #686767;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0 none #ffffff;
  border-radius: 0;
}

/* HTML TAG CSS */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  display:block;
  color: white;
  margin: 0;
  padding: 0;
  position: relative;
}

li {
  float: left;
  margin: 1.5vh 5px;
}

ul li::before {
  content: ">| ";
}

ul li::after {
  content: " |<";
}

a li {
  display: block;
  color: white;
  text-align: center;
  text-shadow: 2px 1px rgb(0, 0, 0);
  border-radius: 5px;
  padding: 5px 10px;
  font-family: "Merriweather Sans", sans-serif;
}

a li:hover {
  background-color: rgb(197, 49, 49);
}

div > img {
  transform: scale(1.3);
  height: 200px;
  border: 2px solid;
  display: flex;
}

p > ul {
  color: black;
  display: flex;
  flex-direction: column;
}

a > img {
  display: block;
  margin: auto;
}

a {
  text-decoration: none;
}

/* ClassName CSS */

.App {
  text-align: center;
  background-color: hsl(0, 1%, 28%);
  margin: auto;
  overflow-x: hidden;
}

.App.not-found {
  height: 100vh;
  /*overflow-y: hidden;*/
}

.App-logo {
  height: 9vmin;
  object-fit: contain;
  float: left;
}

.loading {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  position: absolute;

  box-sizing: border-box;
}

.not-found-err {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.err-text {
  font-family: "Nunito", sans-serif;
  font-size: 1.2em;
  margin: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .loading {
    animation: loading-spin infinite 1s linear;
  }

  .not-found-err {
    animation: loading-spin infinite 10s linear;
  }
}

/* App-logo-spin CSS */
@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header { 
  color: rgb(169, 26, 26);
  background-color: var(--navBar-color);
  min-height: 5vh;
  height: 8vh;
  max-height: 8vh;
  font-size: calc(5px + 1vmax);
  box-shadow: 0 4px 7px rgb(0, 0, 0);
  transition: 0.5s ease;
}

.header-items {
  display: flex;
  float: left;
  margin: 10px 0;
}

.App-title {
  margin: inherit;
  display: flex;
  flex-direction: row;
  font-style: italic;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 2px 1px rgb(0, 0, 0);
}

.App-title-items {
  margin: inherit;
  /* margin-left: 50px; */
  padding: 10px;
  text-shadow: 2px 1px rgb(0, 0, 0);
}

.App-title-items:hover {
  color: rgb(243, 79, 79);
  text-shadow: 2px 1px rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.intro-subtitle {
  margin: inherit;
  z-index: 1;
  display: block;
  font-family: 'Nunito', sans-serif;
}

.intro-subtitle a > button {
  padding: 10px;
  transition: 0.6s ease-in;
}

.intro {
  width: 100vw;
  height: 100vh;
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  z-index: 0;
}

.slideShow {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slider {
  white-space: nowrap;
  transition: ease 1000ms;

  height: 100%;
  width: 100%;
}

.slide {
  display: inline-block;
  position: relative;

  /* Make the image fit the container,
  regardless of it's dimenstions. */
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: none;
}

.dots {
  position: absolute;
  z-index: 100;
  display: flex;
    justify-content: center;
    align-items: center;
  left: 47%;
  top: 90%;
}

.dot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0;
  border: 1px solid black;
  background-color: #c4c4c4;
}

.dot.active {
  background-color: #8a0808;
}

.dot:hover {
  background-color: rgba(110, 8, 8, 0.7);
}

/*@keyframes changeImage {*/
/*  0% {*/
/*    background-image: url("../src/assets/images/ethan.JPG");*/
/*  }*/

/*  25% {*/
/*    background-image: url("../src/assets/images/wideshot-of-crew.JPG");*/
/*  }*/

/*  50% {*/
/*    background-image: url("../src/assets/images/studio.JPG");*/
/*  }*/

/*  75% {*/
/*    background-image: url("../src/assets/images/camera.JPG");*/
/*  }*/
/*}*/

.intro-title {
  color: white;
  font-size: 5vmax;
  text-shadow: 3px 1px 3px black;
  position: relative;
  padding: 10px;
  font-family: "Merriweather Sans", sans-serif;
  margin: auto;
}

.intro-body {
  color: white;
  text-shadow: 3px 1px 3px black;
  font-size: 4vmin;
  position: relative;
  padding: 10px;
  margin: auto;
}

.intro-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.intro-actions a > button {
  font-size: 2vmin;
  margin: 0;
}

.title {
  color:rgb(255, 255, 255);
  background-color: rgb(197, 49, 49);
  text-shadow: 2px 1px rgb(0, 0, 0);
  font-size: 4vmax;
  font-family: 'Merriweather Sans', sans-serif;
  font-style: italic;
  border: 1px solid black;
}

.body div > .title {
  background-color: rgb(221, 221, 221);;
}

.notice {
  font-size: 20px;
}

.notice::before,
.notice::after {
  content: "*";
  color: red;
}

.title.stories {
  color: #00ff0d;
}

.title.retro-review {
  color: #f09e4d;
}

.title.cyber-news {
  color: #4ff0ff;
}

.title.announcements {
  color: #ffffff;
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  border: solid white;
  box-shadow: 0 3px 5px black;
  width: 15%;
  height: min-content;
}

.title::before {
  left: 0;
  border-width: 3px 0 0 6px;
}

.title::after {
  right: 0;
  border-width: 0 6px 3px 0;
}

.subtitle {
  color: rgb(255, 255, 255);
  text-shadow: 2px 1px rgb(0, 0, 0);
  font-size: 30px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 30px;
  margin: auto;
}

.body {
  background-color: #cdcdcd;
  border-radius: 5px;
  margin: auto 5vw;
  padding: 5rem;
  font-size: 3vmin;
  font-family: Georgia, serif;
  letter-spacing: -0.1rem;
  box-shadow: 0 0 50px red;
  max-width: 100%;
}

.video-bg {
  background-color: black;
  width: 100%;
  height: 50vh;
}

.video-bg > iframe {
  max-width: 100%;
  max-height: 100%;
}

.Bottom {
  background-color: #8a0808;
  margin: auto;
  width: 100%;
  height: 100%;
  font-size: 15px;
  border: 1px solid;
  bottom: 0;
  box-shadow: 0 -2px 5px rgb(0, 0, 0);
  z-index: 100;
}

.icon {
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  transform: scale(2);
  max-width: 100%;
  max-height: 100%;
  transition: 200ms ease-in-out;
  margin: 10px 15px;
}

.icon:hover {
  color: white;
}

.button {
  background-color: #ff6666;
  border: 1px solid #8a0808;
  outline: 2px solid transparent;
  border-radius: 5px;
  font-size: 2vmin;
  transition: all 0.2s ease-in-out;
  padding: 0 30px;
  margin: 20px auto;
  color: white;
  font-family: "Nunito", sans-serif;
}

.button:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  cursor: pointer;
  color:rgb(0, 0, 0);
  box-shadow: 0 0 40px rgba(255, 176, 176, 0.68);
  transition: all 0.3s ease-in-out;
}

.button:disabled {
  background-color: rgb(238, 238, 238);
  border: 1px solid black;
  color: black;
  cursor: default;
}

.button:active {
  outline: 2px solid #ffffff;
  outline-offset: 2px;
}

.button-icon {
  transform: translate(-1px, 4px);
  display: inline-flex;
}

.button-circle {
  border-radius: 50%;
  background-color: white; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  font-size: 20px; /* Increase font size */
  transition: all 0.2s ease-in-out;
  outline: 2px solid transparent;
  outline-offset: 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button-circle:hover {
  background-color: rgb(0, 0, 0);
  border-color: transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.button-circle:active {
    outline: 2px solid white;
}

.arrow-down {
  position: relative;
  transform: translateY(5px);
  transition: all 0.2s ease-in-out;
}

.button-circle:hover .arrow-down {
  transform: translateY(10px);
}

.button-circle:active .arrow-down {
  transform: translateY(15px);
}

.member-imgs {
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;

}


.member-img {
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
  border-color: black;
  transform: scale(0.9);
}

.member {
  background-color: rgb(210, 210, 210);
  border-radius: 5px;
  padding: 5px;
  margin: 50px;
  transition: all 200ms ease-in-out;
}

.member:hover {
  background-color: #8a0808;
  cursor: pointer;
}

.member:active {
  outline: 2px solid white;

}

.member-name {
  color: white;
  text-shadow: 2px 0 rgb(0, 0, 0);
  font-size: 30px;
  font-family: "Merriweather Sans", sans-serif;
}

.wolftv-segments {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 5px;
  font-size: 25px;
  border: 1px solid black;
  letter-spacing: normal;
}

.segment-page-container {
  margin-top: calc(150px + 1vmin);
}

.segment {
  flex: 1;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid black;
  transition: all 200ms ease-in-out;
}

.segment:hover {
  border-color: #8a0808;
}

.segment button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
  position: relative;
  bottom: 0;
  transition: all 0.2s ease-in-out;
  font-size: 20px;
  color: black;
}

.segment button:hover {
  box-shadow: 0 0 40px rgba(183, 183, 183, 0.8);
  border: none;
  background-color: transparent;
}

.segment button:active {
  background-color: #efefef;
}


.segment-title {
  font-size: calc(20px + 1vmin);
  font-family: "Merriweather Sans", sans-serif;
  text-shadow: 2px 0 rgb(0, 0, 0);
  color: #b31b1b;
  /*padding: 20px;*/
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-bottom: 20px;
}

.segment-title.cyber-news {
  color: #4ff0ff;
}

.segment-title.retro-review {
  color: #f09e4d;
}

.segment-title.stories {
    color: #00ff0d;
}

.segment-desc {
  margin: 40px;
  /* Calculate the font size based on the container width. */
  font-size: calc(10px + 0.9rem);
}

.end {
  margin: 10vmax;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #8a0808;
  border: 1px solid white;
}

.end > .title {
  background-color: transparent;
}

.end button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 30px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  color: white;
  transition: all 0.2s ease-in-out;
}

.end button:hover {
  background-color: #ffffff;
  border: 1px solid transparent;
  color: black;
  cursor: pointer;
}

.end .title {
  border: none;
}

.scroll-to-top-btn {
  display: none;
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 1; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  background-color: #b31b1b; /* Set a background color */
  color: rgb(214, 205, 205); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  font-size: 20px; /* Increase font size */
  box-shadow: 0 1px 2px black;
}

.link {
  color: lightblue;
}

.link:hover {
  color: white;
}

.body-link {
  /*text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;*/
  color: #6acff5;
}

.body-link:hover {
  color: #2aabdc;
}

/* MODAL CSS */

.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  overflow-y: hidden;
}

.modal {
  width: 50vw;
  height: 80vh;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 2px 5px 7px #8a0808;
  align-self: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  justify-items: center;
  animation: bruh 0.5s ease forwards;
}

@keyframes bruh {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.modal-footer > .button {
  float: right;
  margin: 0;
}

/*.modal-footer > .button:hover {*/
/*  background-color: rgb(255, 255, 255);*/
/*  color: black;*/
/*  cursor: pointer;*/
/*  !* box-shadow: 0 0 0; *!*/
/*  transition: all 0.2s ease-in-out;*/
/*}*/

@keyframes modalBtnAnim {
  from {
    padding-left: 50px;
    padding-right: 50px;
  }
  to {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.modal-header {
  height: 85px;
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  justify-content: center;
}

.heading {
  text-align: center;
  font-size: 5vmin;
  margin: 20px 0;
  font-family: 'Merriweather Sans', sans-serif;
  /*text-shadow: 2px 1px 1px black;*/
  text-shadow: -1px -1px 0 #8a0808, 1px -1px 0 #8a0808, -1px 1px 0 #8a0808, 1px 1px 0 #8a0808;
}
/*#8a0808*/

.modal-img {
  display: flex;
  justify-content: center;
  margin: 12% 0;
  transform: scale(1.1);
}

.modal-img img {
  object-fit: cover;
  width: 20%;
}

.modal-content {
  display: flex;
  justify-content: center;
  background-color: #c1c1c1;
  border-radius: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 35%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.modal-role {
  color: white;
  text-shadow: 2px 0 2px black;
  font-size: 2.5vmin;
  position: fixed;
  bottom: 25%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 90%;
  height: 4%;
}

.modal-description {
  font-size: 2.5vmin;
  display: flex;
  justify-content: center;
  margin: 30px;
  font-family: "Nunito", sans-serif;
}

.modal-footer {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.x-btn {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  padding-bottom: 10px;
  font-size: 25px;
  position: absolute;
  display: flex;
  align-self: flex-start;
  left: 0;
  top: 0;
  transition: 0.2s ease;
}

.x-btn:hover {
  cursor: pointer;
  background-color: #8a0808;
  border-color: black;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(180, 28, 28, 0.8);
}

.x-btn:active {
  background-color: #750606;
}

.msgModal {
  width: 500px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 2px 5px 7px #8a0808;
  align-self: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  justify-items: center;
  animation: modalAnim 0.3s ease forwards;
}

.msgModal > button {
  float: right;
}

.msgDescription {
  position: relative;
  text-align: center;
  overflow: hidden;
  white-space: normal;
  flex-wrap: wrap;
  margin: 30px;
}

@keyframes msgModalAnim {
  0% { opacity: 0; transition: ease-in; }
  100% { opacity: 100%; transition: ease-out; }
}

@keyframes modalAnim {
  0% { 
    top: 1300px;
    opacity: 0;
    transition: ease-in;
  }
  100% { 
    bottom: 0;
    opacity: 100%; 
    transition: ease-out;
  }
}

/* Disable scroll when modal is open */
.modal-open {
  overflow: hidden;
}

.infobox-x-btn {
  cursor: pointer;
  border: none;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.2s ease-in-out;
  color: white;
  border-radius: 5px;
}

.infobox-x-btn:hover {
  background-color: white;
  color: black;
}

/* MODAL ARROWS CSS */

.inner-modal-arrow {
  position: fixed;
  transform: translateY(-50%) scale(4);
  top: 50%;
  z-index: 3;
  background-color: transparent;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.inner-modal-arrow:hover {
  color: black;
}

.inner-modal-arrow:disabled {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.1);
}

.inner-modal-arrow:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.inner-modal-arrow.left {
  left: 10%;
}

.inner-modal-arrow.right {
    right: 10%;
}

.outer-modal-arrow {
  position: fixed;
  top: 50%;
  z-index: 2;
  background-color: white;
  border: none;
  border-radius:1px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  transform: translateY(-50%) scale(4);
  transition: all 0.2s ease-in-out;
}

.outer-modal-arrow:hover {
  color: black;
}

.outer-modal-arrow:disabled {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.1);
}

.outer-modal-arrow:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.outer-modal-arrow.left {
  left: 10%;
}

.outer-modal-arrow.right {
    right: 10%;
}

.arrow-icon {
  transform: translateY(1px);
}

/* DROP DOWN CSS */
.hamburger {
  display: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 15px;
  font-size: 20px;
  position: relative;
  z-index: 100;
  transition: all 0.2s ease-in-out;
  color: white;
}

.hamburger:active {
  background-color: rgba(229, 229, 229, 1);
  color: black;
  transition: all 0.2s ease-in-out;
}

.hamburger-menu {
  position: fixed;
  transform: translateY(-150%);
  transition: transform 0.2s;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.hamburger-menu > .subtitle {
  font-size: xx-large;
}

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  border: none;
  background-color: transparent;
  color: white;
  padding: 0.5rem 1rem;
  text-shadow: 0 2px 0 black;
  transition: all 0.2s ease-in-out;
}

.menuItem:active {
  cursor: pointer;
  background-color: rgba(215, 215, 215, 0.2);
  color: white;
  transform: translateX(0.5rem);

}

.showingMenu {
  transform: translateY(0);
}

.close {
  display: none;
}

.dropdown {
  overflow: hidden;
  margin: 0 auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--navBar-color);
  box-shadow: 0px 8px 16px 11px rgba(0,0,0,0.2);
  border: 2px solid black;
  z-index: 1;
  min-height: 100%;
  margin: 0 auto;
  animation: fadeIn 0.3s;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.dropdown-content > a {
  float: none;
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px 0 black;
  padding: 20px 30px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content > a:hover {
  background-color: #981212a4;
  color: white;
  transition: background-color 0.2s, color 0.2s;
  transition-timing-function: ease-in-out;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-color: black;
}

.dropdown-btn {
  border-radius: 25px;
  background-color: #d33333;
  height: 50px;
  width: 50px;
  transition: all 0.2s;
}

.dropdown-btn:hover {
  background-color: #b11818;
  transition: all 0.2s;
}

@keyframes dropdownAnim {
  from { top: -200px; }
  to { top: 80px; }
}

.sort-box {
  font-size: 20px;
  border-radius: 5px;
  max-width: fit-content;
  margin: 10px;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #8a0808;
  font-size: 2vmin;
  font-family: "Nunito", sans-serif;
  position: fixed;
  border-top: 1px solid #ec1212;
  width: 100%;
  z-index: 1;
  height: fit-content;
  bottom: 0;
}

.info-box p > a:hover {
  color: rgb(80, 171, 201)
}

.info-box p > a:active {
  color: rgb(13, 139, 182);
  text-decoration: none;
}

/* RESIZING BASED ON SCREEN SIZE */
@media screen and (max-width: 700px) {
  /* Center logo */
  .App-logo {
    height: 10vmax;

  }

  .button {
    font-size: 5vmin;
  }

  .App.not-found {
    overflow-y: scroll;
  }

  .body {
    margin: auto 10vw;
    padding: 2rem;
    font-size: 2.5vmax;
  }

  .subtitle {
    font-size: 20px;
  }
  .intro {
    height: 75vh;
  }

  .intro-title {
    font-size: 4vmax;
  }

  .slide {
    object-fit: cover;
    height: 75vh;
    max-width: 100%;
  }

  .segment {
    font-size: 15px;
  }

  .segment-desc {
    font-size: calc(10px + 0.9vmin);
  }

  .modal {
    width: 90vw;
    height: 60vh;
  }

  .heading {
    font-size: 8vmin;
  }

  .modal-img {
    transform: scale(0.5);
    margin: auto;
  }

  /*.modal-role {*/
  /*  font-size: 15px;*/
  /*}*/

  /*.modal > .button {*/
  /*  align-self: center;*/
  /*  font-size: 15px;*/
  /*  top: 93%;*/
  /*  left: 55vw;*/
  /*  margin: auto;*/
  /*}*/



  .modal-description {
    font-size: 1.7vmax;
    margin: 0;
  }

  .modal-img img {
    width: 90%;
    height: 90%;
  }

  .intro-subtitle a > li {
    font-size: 15px;
    margin: 30px auto;
    display: block;
  }

  .App-header a > li{
    display: none;
  }

  .msgModal {
    width: 400px;
    height: 200px;
  }

  .sort-box {
    font-size: inherit;
  }

  .dropdown:hover {
    display: none;
    cursor: default;
  }

  .hamburger {
    display: block;
    float: right;
    margin: 10px;
  }

  .hamburger-menu {
    display: block;
  }

  .modal-arrow.left {
    left: -35%;
  }

  .modal-arrow.right {
    right: -35%;
  }

  .dots {
    left: 40%;
  }

  .dot {
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .wolftv-segments {
    display: block;
  }
}